<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Envio-Edu</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='assets/css/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

		<!-- Bootstrap -->
		<link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"
        />
        <script
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
          integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
          crossorigin="anonymous"
        ></script>	

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">Envio-Edu</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/news"><span style="color: red;">Live:</span> Climate News</a></li>
					<li><a href="/maps">Climate Anomalies</a></li>
					<li><a href="/city">Check Weather</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<section id="banner">
			<i class="icon fa-diamond"></i>
			<h2>Envio-Edu</h2>
			<p>“We are the first generation to feel the effect of climate change <br> and the last generation who can do something about it.”</p>
			<ul class="actions">
				<li><a href="#weather" class="button big special">Learn More</a></li>
			</ul>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1">
			<div class="inner">
				<a name="weather"></a>
				<article class="feature right">
					<span class="image"><img src="../static/images/weather-new.jpg" alt="" /></span>
					<div class="content">
						<a name="map"></a>
						<h2>Know more about Climate</h2>
						<p>Want to know how the world looks right now? Explore the climate maps and head over to the news tab for the latest updates.</p>
						<ul class="actions">
							<li>
								<a href="/news" class="button alt">Latest News</a>
							</li>
							<li>
								<a href="/maps" class="button alt">Climate Anomalies</a>
							</li>
						</ul>
					</div>
				</article>
				<article class="feature left">
					<span class="image"><img src="../static/images/mapnew.jpg" alt="" /></span>
					<div class="content">
						<h2>Find out about the weather</h2>
						<p>Check the weather around you and all over the world at a glance.</p>
						<ul class="actions">
							<li>
								<a href="/city" class="button alt">Get Weather</a>
							</li>
						</ul>
					</div>
				</article>

			</div>
		</section>

		<!-- Two -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major narrow">
					<h2>United Nations Climate Change [UNFCCC]</h2>
					<br>
					<p>The UNFCCC secretariat (UN Climate Change) is the United Nations entity tasked with supporting the global response to the threat of climate change.</p>
				</header>
				<ul class="actions">
					<li><a href="https://unfccc.int/about-us/about-the-secretariat" class="button big alt">UNFCCC</a></li>
				</ul>
			</div>
		</section>

			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Here's how you can make a difference</h2>
					</header>
					<div class="row">

						<div class="prevention-div col-lg-4 col-md-6" style="margin-bottom: 2%;">
						  <div class="card">
							<img class="prevention-img card-img-top" src="../static/images/prevention-1.jpg" alt="Card image cap" style="height: 20vh;">
							<div class="card-body">
								<p class="card-text"> Make Your Commute Green. </p>
							</div>
						  </div>
						</div>
				  
						<div class="prevention-div col-lg-4 col-md-6">
							<div class="card">
								<img class="prevention-img card-img-top" src="../static/images/prevention-2new.jpg" alt="Card image cap" style="height: 20vh;">
							  <div class="card-body">
								  <p class="card-text">Be More Conservative with Energy Usage. </p>
							  </div>
							</div>
						  </div>
				  
						<div class="prevention-div col-lg-4 col-md-6">
							<div class="card">
							  <img class="prevention-img card-img-top" src="../static/images/prevention-3.jpg" alt="Card image cap" style="height: 20vh;">
							  <div class="card-body">
								  <p class="card-text">Consume less, waste less, enjoy life more.</p>
							  </div>
							</div>
						</div>

						<div class="prevention-div col-lg-4 col-md-6">
							<div class="card">
							  <img class="prevention-img card-img-top" src="../static/images/prevention-4.jpg" alt="Card image cap" style="height: 20vh;">
							  <div class="card-body">
								  <p class="card-text">Start a climate conversation.</p>
							  </div>
							</div>
						  </div>
					
						  <div class="prevention-div col-lg-4 col-md-6">
							  <div class="card">
								<img class="prevention-img card-img-top" src="../static/images/prevention-5new.jpg" alt="Card image cap" style="height: 20vh;">
								<div class="card-body">
									<p class="card-text">Encourage the use of renewable energies.</p>
								</div>
							  </div>
							</div>
					
						  <div class="prevention-div col-lg-4 col-md-6">
							  <div class="card">
								<img class="prevention-img card-img-top" src="../static/images/prevention-6new.jpg" alt="Card image cap" style="height: 20vh;">
								<div class="card-body">
									<p class="card-text">Recyle</p>
								</div>
							  </div>
						  </div>

					  </div>
				</div>
			</section>


		<!-- Four -->
		<section id="four" class="wrapper style2 special">
			<div class="inner">
				<header class="major narrow">
					<h2>Get in touch</h2>
				</header>
				<form action="/">
					<div class="container 75%">
						<div class="row uniform 50%">
							<div class="6u 12u$(xsmall)">
								<input name="name" placeholder="Name" type="text" />
							</div>
							<div class="6u$ 12u$(xsmall)">
								<input name="email" placeholder="Email" type="email" />
							</div>
							<div class="12u$">
								<textarea name="message" placeholder="Message" rows="4"></textarea>
							</div>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" class="special" value="Submit" /></li>
						<li><input type="reset" class="alt" value="Reset" /></li>
					</ul>
				</form>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li>
						<a href="https://github.com/rutvikdumre/envio-edu" target=" " class="icon fa-github fa-3x"><span class="label">Github</span></a>
					</li>
				</ul>
			</div>
		</footer>
		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/ie/respond.min.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>