<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Envio-Edu</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='assets/css/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">Envio-Edu</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="#weather">Check Weather</a></li>
					<li><a href="#map">Climate</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2>Envio-Edu-Anomalies</h2>
				<p>“the difference of a future climate compared to the present climate”</p>
				<ul class="actions">
					<li><a href="#weather" class="button big special">Learn More</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<a name="weather"></a>
					<article class="feature left">
						<span class="image"><iframe src="https://cdn.embedly.com/widgets/media.html?url=https%3A%2F%2Fplot.ly%2F%7EDreamshot%2F9345%2F&amp;src=https%3A%2F%2Fplot.ly%2F%7EDreamshot%2F9345.embed%3Fautosize%3Dtrue&amp;type=text%2Fhtml&amp;key=a19fcc184b9711e1b4764040d3dc5c07&amp;schema=plot" allowfullscreen="" frameborder="0" height="400" width="600" title="scattermapbox made by Dreamshot | plotly" class="t u v jk aj" scrolling="auto"></iframe></span>
						<div class="content">
							<h2>Sea Surface Temperature Anomaly</h2>
							<p>The first plot shows sea surface temperature anomalies: essentially, how much warmer or cooler than average the sea surface temperature is at a given location (or grid box).
								Sea surface temperature anomalies are particularly important in the tropical oceans, as anomalies help to modify the Walker Circulation, which plays a major role in precipitation and temperature patterns across the global tropics.
							</p>
							<ul class="actions">
								<li>
									<a href="/temp_anomaly" target=" " class="button alt">View full interactive map</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><iframe src="https://cdn.embedly.com/widgets/media.html?url=https%3A%2F%2Fplot.ly%2F%7EDreamshot%2F9349%2F&amp;src=https%3A%2F%2Fplot.ly%2F%7EDreamshot%2F9349.embed%3Fautosize%3Dtrue&amp;type=text%2Fhtml&amp;key=a19fcc184b9711e1b4764040d3dc5c07&amp;schema=plot" allowfullscreen="" frameborder="0" height="400" width="600" title="scattermapbox made by Dreamshot | plotly" class="t u v jk aj" scrolling="auto"></iframe></iframe></span>
						<div class="content">
							<a name="map"></a>
							<h2>Air Temperature Anomaly</h2>
							<p>This plot looks at the forecast air temperature anomaly, in Celsius, for the month of March 2019. These model data also come from the ECMWF.
								Red colors show warmer-than-average temperatures while blue indicates below-average temperatures.</p>
							<ul class="actions">
								<li>
									<a href="/air" target=" " class="button alt">View full interactive map</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><iframe src="https://cdn.embedly.com/widgets/media.html?url=https%3A%2F%2Fplot.ly%2F%7EDreamshot%2F9347%2F&amp;src=https%3A%2F%2Fplot.ly%2F%7EDreamshot%2F9347.embed%3Fautosize%3Dtrue&amp;type=text%2Fhtml&amp;key=a19fcc184b9711e1b4764040d3dc5c07&amp;schema=plot" allowfullscreen="" frameborder="0" height="400" width="600" title="scattermapbox made by Dreamshot | plotly" class="t u v jk aj" scrolling="auto"></iframe></span>
						<div class="content">
							<h2>Precipitation Anomaly</h2>
							<p>Precipitation is often considered one of the most challenging parameters to forecast. Generally speaking, precipitation outlooks have lower confidence than temperature outlooks.In the chart below, negative values (blues) indicate below-normal monthly precipitation while positive values (yellows, oranges) indicate above-normal monthly precipitation.
							</p>
							<ul class="actions">
								<li>
									<a href="/rain" target=" " class="button alt">View full interactive map</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major narrow	">
					<h2>Climate change is real</h2>
					<p>“The world is reaching the tipping point beyond which climate change may become irreversible. <br> 
						If this happens, we risk denying present and future generations
						the right to a healthy and sustainable planet – the whole of humanity stands to lose.”</p>
				</header>
				<ul class="actions">
					<li><a href="#" class="button big alt">Know More</a></li>
				</ul>
			</div>
		</section>

			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Things about climate change you may not know yet</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
					</header>
					
					<ul class="actions">
						<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->


		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>Ipsum dolor tempus commodo adipiscing</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/ie/respond.min.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>